Boruta==0.3
Keras==2.4.3
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
matplotlib==3.4.2
matplotlib-inline==0.1.2
numpy==1.19.5
optuna==2.7.0
pandas==1.2.4
pickleshare==0.7.5
Pillow==8.2.0
scikit-learn==0.24.2
scipy==1.6.3
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
torch==1.8.1+cpu
torchaudio==0.8.1
torchvision==0.9.1+cpu
